In [3]:
import pandas as pd

In [21]:
ds1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
ds1

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
ds2 = pd.Series([1, 2, 3, 4])
ds2

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
print(ds1['b'], ds1.d)

2 4

In [9]:
test = pd.Series([1, 2], index=['index a', 'index b'])
test

index a    1
index b    2
dtype: int64

In [11]:
test['index b']

2

In [12]:
ds1[2]

3

In [14]:
ds1[ ['a', 'd'] ]

a    1
d    4
dtype: int64

In [29]:
ds1

a    1
b    2
c    3
d    4
f    5
e    6
dtype: int64

In [28]:
ds1[ ['d', 'e', 'f'] ] = [4, 6, 5]

In [23]:
ds1['d'] = 5
ds1

a    1
b    2
c    3
d    5
dtype: int64

In [18]:
ds1.e = 6
ds1

a    1
b    2
e    6
d    5
dtype: int64

In [19]:
ds1['e'] = 6
ds1

a    1
b    2
e    6
d    5
dtype: int64

In [24]:
ds1.at['f'] = 7
ds1

a    1
b    2
c    3
d    5
f    7
dtype: int64

In [30]:
ds1.at['e'] = 6
ds1

a    1
b    2
c    3
d    4
f    5
e    6
dtype: int64

In [31]:
ds2

0    1
1    2
2    3
3    4
dtype: int64

In [35]:
ds1.at['g'] = 10.5
ds1

a     1.0
b     2.0
c     3.0
d     4.0
f     5.0
e     6.0
g    10.5
dtype: float64

In [38]:
ds2[2]

3

In [39]:
ds2.at[1]

2

In [40]:
ds2.iat[1]

2

In [48]:
ds2 = ds2 * 2

0     32
1     64
2     96
3    128
dtype: int64

In [49]:
ds2

0    16
1    32
2    48
3    64
dtype: int64

In [50]:
l = [1, 2, 3, 4]
l

[1, 2, 3, 4]

In [51]:
l * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [52]:
cities = pd.Series({'Dnepr': 1000000, 'Kiev': 3000000, 'Paris': 2300000, 'Berlin': 3800000})
cities

Dnepr     1000000
Kiev      3000000
Paris     2300000
Berlin    3800000
dtype: int64

In [55]:
cities2 = pd.Series(
    {'Dnepr': 1000000, 'Kiev': 3000000, 'Paris': 2300000, 'Berlin': 3800000}, 
    index=['Dnepr', 'Paris','Berlin', 'Milan'])
cities2

Dnepr     1000000.0
Paris     2300000.0
Berlin    3800000.0
Milan           NaN
dtype: float64

In [60]:
test = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
test2 = pd.Series([4, 5, 6, 7], index=['a', 'b', 'c', 'd'])

In [61]:
test + test2

a    5.0
b    7.0
c    9.0
d    NaN
dtype: float64

In [66]:
test.add(test2, fill_value=0)

a    5.0
b    7.0
c    9.0
d    7.0
dtype: float64