In [2]:
import pandas as pd

In [3]:
ds = pd.Series([1, 2, 3, 4])
ds

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
def test(x):
    if not x % 2:
        return x + 1
    else:
        return x 
ds.apply(test)

0    1
1    3
2    3
3    5
dtype: int64

In [5]:
ds.apply(lambda x: x +1 if not x % 2 else x)

0    1
1    3
2    3
3    5
dtype: int64

# Homework

In [6]:
cities = pd.Series(
    {'Dnepr': 1000000, 'Kiev': 3000000, 'Paris': 2300000, 'Berlin': 3800000},
)
cities

Dnepr     1000000
Kiev      3000000
Paris     2300000
Berlin    3800000
dtype: int64

In [7]:
cities2 = pd.Series(cities.index)
cities2

0     Dnepr
1      Kiev
2     Paris
3    Berlin
dtype: object

In [8]:
# Примените функцию lambda к серии cities2, чтобы получить вариант вывода ниже (если в названии города есть 'e'):
'''
0    Dnepr!!!
1      Kiev!!!
2      Paris
3    Berlin!!!
dtype: object
'''
print('Ваше решение:')

cities2.apply(lambda x: x + '!!!' if  'e' in x else x)

Ваше решение:

0     Dnepr!!!
1      Kiev!!!
2        Paris
3    Berlin!!!
dtype: object

In [14]:
# Примените функцию к серии cities2,  чтобы получить вариант вывода ниже
'''
0    D-n-e-p-r
1    K-i-e-v
2      Paris
3    B-e-r-l-i-n
dtype: object
'''
print('Ваше решение:')

def test2(x):
    if 'e' in x:
        return '-'.join(x)
    else:
        return x
cities2.apply(test2)

Ваше решение:

0      D-n-e-p-r
1        K-i-e-v
2          Paris
3    B-e-r-l-i-n
dtype: object

In [15]:
cities2

0     Dnepr
1      Kiev
2     Paris
3    Berlin
dtype: object

In [17]:
cities2[cities2.str.contains('i')]

0     Dnepr
1      Kiev
3    Berlin
dtype: object