Обьект DataFrame лучше всего представлять себе в виде обычной таблицы и это правильно, ведь DataFrame является табличной структурой данных.
В любой таблице всегда присутствуют строки и столбцы. 
Столбцами и в обьекте DataFrame выступают обьекты Series, строки которых являются их непосредственными элементами.

Для создания DataFrame можно использовать одноименный конструктор и словарь Python

In [1]:
import pandas as pd

In [8]:
df = pd.DataFrame({
    'country': ['France', 'USA', 'Ukraine'],
    'capital': ['Paris', 'Washington', 'Kiev'],
    'population': [66.99, 328.2, 41.98]
})
df

   country     capital  population
0   France       Paris       66.99
1      USA  Washington      328.20
2  Ukraine        Kiev       41.98

In [9]:
df2 = pd.DataFrame({
    'country': ['France', 'USA', 'Ukraine'],
    'capital': ['Paris', 'Washington', 'Kiev'],
    'population': [66.99, 328.2, 41.98]
}, index=['FR',  'US', 'UA'])
df2

    country     capital  population
FR   France       Paris       66.99
US      USA  Washington      328.20
UA  Ukraine        Kiev       41.98

In [33]:
df.index = ['FR',  'US', 'UA']

In [34]:
df.index

Index(['FR', 'US', 'UA'], dtype='object')

In [35]:
df

    country     capital  population
FR   France       Paris       66.99
US      USA  Washington      328.20
UA  Ukraine        Kiev       41.98

Варианты получения значений

In [36]:
df['capital']['US']

'Washington'

In [37]:
df.capital.US

'Washington'

In [40]:
df['capital'][1]

'Washington'

In [41]:
df.at['US', 'capital']

'Washington'

In [43]:
df.iat[1, 1]

'Washington'

In [44]:
df.loc['US']

country              USA
capital       Washington
population         328.2
Name: US, dtype: object

In [45]:
df.loc['US', 'capital']

'Washington'

In [46]:
df.iloc[1]

country              USA
capital       Washington
population         328.2
Name: US, dtype: object

In [47]:
df.iloc[1, 1]

'Washington'

In [48]:
df.columns

Index(['country', 'capital', 'population'], dtype='object')